Flask==3.0.2
Werkzeug==3.0.1
bootstrap-flask==2.3.3
flask_login==0.6.3
flask_sqlalchemy==3.1.1
sqlalchemy==2.0.28
gunicorn==21.2.0
flask_wtf==1.2.1
WTForms==3.1.2
flask_ckeditor==0.5.1
psycopg2-binary==2.9.9